@using Microsoft.AspNet.Identity.EntityFramework;
@model IEnumerable<IdentityRole>

<h1> All Roles</h1>


@if (Model.Any())
{
    foreach (var role in Model)
    {
        <div class="col-md-4 card m-3">

            <div class="card-header">
                Role Id : @role.Id
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    @role.Name
                </h5>
            </div>
            <div class="card-footer">
                <a href="~/Administration/EditUserInRole?RoleId=@role.Id" class="btn btn-danger">Edit Role</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            no Roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                use the button bellow to create a role
            </h5>
        </div>

    </div>
}

